*.class

*.log
*.tmp

target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.properties

**/node_modules/
dist/
dist-ssr/
*.local

.DS_Store
Thumbs.db

.idea/
*.iml
*.ipr
*.iws

.vscode/
*.swp
*.swo
*~

.env
.env.local
.env.*.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

.eslintcache

*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?